parameters:
	ignoreErrors:
		-
			message: '#^Generator expects value type array\<string, string\>, array\<int, array\<string, string\>\> given\.$#'
			identifier: generator.valueType
			count: 6
			path: tests/Functional/Auth/RegisterTest.php
