parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Tests\\Functional\\Auth\\RegisterTest\:\:testThatRegistrationShouldFailed\(\) has parameter \$formData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Functional/Auth/RegisterTest.php

		-
			message: '#^PHPDoc tag @return with type array\<string, array\<string, string\>\> is incompatible with native type void\.$#'
			identifier: return.phpDocType
			count: 1
			path: tests/Functional/Auth/RegisterTest.php
